body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  list-style: 1;
  color: #212121;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
  color: currentColor;
}
.header {
  height: 90px;
  border-bottom: 1px solid #ececec;
  display: flex;
}
.encabezado {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.titulo {
  color: rgba(33, 150, 243, 1);
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contacto-item {
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.contacto-item:hover {
  color: rgba(33, 150, 243, 1);
}

.active {
  color: rgba(33, 150, 243, 1);
}

.seccion-principal {
  height: 600px;
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduccion {
  width: 696px;
  color: rgb(241, 241, 245);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  padding-bottom: 40px;
}
.mi-boton {
  color: rgba(255, 255, 255, 1);
  background-color: #2196f3;
  width: 261px;
  height: 50px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  border: 1px #2196f3;
}

.section-spacing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.servicios-prestados {
  width: 1200px;
  display: flex;
  color: rgba(117, 117, 117, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 94px;
}

h3 {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 24px;
}

h2 {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.nuestro-equipo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.img-container-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc((100% - 30px) / 3);
  padding-top: 55.05px;
}
.img-work {
  width: 373.16px;
  height: 323.7px;
}
.img-team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background-color: rgba(245, 244, 250, 1);
}
p {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
}
.ubicacion {
  color: #ffffff;
}

.profesion {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.profesion-team {
  text-align: center;
}
footer {
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.nav_contacto {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.ubicacion {
  color: #ffffff;
  word-spacing: 9px;
}
.contactos {
  word-spacing: 9px;
  flex-direction: column;
}
.contact-correo {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.contact-correo:hover {
  color: #2196f3;
}
.contact-telefono {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.contact-telefono:hover {
  color: #2196f3;
}
.equipo {
  display: inline-block;
}

/*Estilos portafolio*/

.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 112px;
  padding-bottom: 56px;
}
.boton1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #ffffff;
  margin-right: 15px;
  width: 73px;
  height: 38px;
  left: calc(50% - 73px / 2 - 268.5px);
  top: calc(50% - 38px / 2 - 735px);
  background: #2196f3;
  border-radius: 4px;
  border: 1px #2196f3;
}
.boton1:hover {
  background: rgba(33, 150, 243, 1);
}
.boton2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-right: 15px;
  width: 128px;
  height: 38px;
  left: calc(50% - 128px / 2 - 160px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton2:hover {
  background: rgba(33, 150, 243, 1);
}
.boton3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 15px;
  width: 145px;
  height: 38px;
  left: calc(50% - 145px / 2 - 15.5px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton3:hover {
  background: rgba(33, 150, 243, 1);
}
.boton4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 15px;
  width: 103px;
  height: 38px;
  left: calc(50% - 103px / 2 + 116.5px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton4:hover {
  background: rgba(33, 150, 243, 1);
}
.boton5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 15px;
  width: 130px;
  height: 38px;
  left: calc(50% - 130px / 2 + 241px);
  top: calc(50% - 38px / 2 - 735px);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px #f5f4fa;
}
.boton5:hover {
  background: rgba(33, 150, 243, 1);
}

.img-container-portafolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 3);
  padding-bottom: 82px;
}

.img-servicios:hover {
  background: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
